<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.majiang.community.dao.UserMapper">
    <select id="userLogin" parameterType="String" resultType="life.majiang.community.entity.User">
        select * from user
        where user_active=1 and account_id =#{accountId} and user_password = #{userPassword}
    </select>
    <insert id="registerUser">
        insert into user(account_id, user_img, user_name, user_password, user_create)
        values (#{user.accountId},#{user.userImg},#{user.userName},#{user.userPassword},#{user.userCreate})
    </insert>
    <select id="findById" resultType="life.majiang.community.entity.User">
        select *
        from user
        where user_id = #{creator}
    </select>
</mapper>