<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠首页</title>
    <head th:insert="~{import :: head}"></head>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>热点</h2>
            <hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

</body>
</html>